/* Color Theme Swatches in Hex */
.Neutros-1-hex {
	color: #d9d9d9;
}
.Neutros-2-hex {
	color: #8c8c8c;
}
.Neutros-3-hex {
	color: #595959;
}
.Neutros-4-hex {
	color: #404040;
}
.Neutros-5-hex {
	color: #262626;
}

.card p {
	color: black;
}
